{% extends "base.html.twig" %}

{% block body %}

    <h1>Statistics about the tax income of a country</h1>
    <ul>
        <li><a href="/per-state/amount/overall">The overall amount of taxes collected per state</a>
        <li><a href="/per-state/amount/average">The average amount of taxes collected per state</a>
        <li><a href="/per-state/tax-rate/average">The average county tax rate per state</a>
        <li><a href="/country/tax-rate/average">The average tax rate of the country</a>
        <li><a href="/country/amount/overall">The collected overall taxes of the country</a>
    </ul>

{% endblock %}