{% extends "base.html.twig" %}

{% block body %}

    <h1>Load fixture data</h1>
    <p>
        <form method="post">
            <input type="submit" class="btn btn-primary" name="Load" value="Refresh fixtures data" />
        </form>
    </p>

{% endblock %}